
.content{
  background-color: #eeeeee;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.sidebar {
  background-color: #91999d;
  position: relative;
  height: 100%;
  overflow: auto;
}
.row
{
  /* jugad */
  height: 100vh;
  padding-top: 50px;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 767px) {
.sidebar {
  height: auto;
  padding: 15px;
}
.row.content {height:auto;} 
}