<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <%- include('topbar', {dp: dp}) %>
        <div class="container-fluid text-center">
            <div class="row content">
                <%- include('side_menu', {type: 'admin'}) %>
                <div class="col-sm-10">
                    <div class="container content">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6" style="margin-top:40px">
                            <br>
                            <h1 align="center" id="f1">Add User</h1>
                            <h4 style="color:mediumslateblue" id="f">
                                <% if(msg !== "none"){ %>
                                <%= msg %>
                                <% } %>
                            </h4>
                            <form action="/add_user" method="post" class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="email" required="" name="username" class="form-control" id="username"
                                            placeholder="Email" onblur="myFunction()"><br>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" required="" name="phone" pattern="[0-9]{10}" class="form-control"
                                            maxlength="10" id="phone" placeholder="Phone Number"><br>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" required="" name="city" class="form-control" placeholder="City"><br>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" required="" name="password" class="form-control"
                                            placeholder="Password"><br>
                                    </div>
                                    <div class="form-group">
                                        <label>Role:</label><br>
                                        <select data-style="btn-info" name="roleoptions" class="form-control">
                                            <optgroup label="Select User Role">
                                                <option value="user" selected="selected">User</option>
                                                <option value="community manager">Community Manager</option>
                                                <option value="admin">Admin</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group" align="center">
                                        <input type="submit" value="Add User" class="btn btn-success">
                                        <a value="Cancel" class="btn btn-danger" href="/home">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
                console.log(document.getElementById('username').value)
                var request = new XMLHttpRequest();
                var message = document.getElementById("f");
                request.addEventListener('load', function () {
                    console.log(request);
                    // console.log(request);
                    if (request.readyState == 4 && request.status == 200) {
                        if (request.response == "\"success\"") {
                            //Username available.
                            message.style.color = "green";
                            message.innerHTML = "Username is available";
                        }
                        else {
                            //Username not available.
                            message.style.color = "red";
                            message.innerHTML = "Username is NOT available";
                        }
                    }
                });

                request.open('POST', '/check_uid');
                request.setRequestHeader('Content-Type', 'application/json');
                request.send(JSON.stringify({ uid: document.getElementById('username').value }));

            }
        </script>

    </body>

</html>