<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <% include topbar %>
        <div class="container-fluid text-center">
            <div class="row content">
                <%- include('side_menu', {type: 'admin'}) %>
                <div class="col-sm-10">
                    <div class="container" class="content">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6" style="margin-top:40px">
                            <br>
                            <h1 align="center">Change Password</h1>
                            <form action="/pass_data" method="post" class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="password" required="" name="old_password" class="form-control"
                                            placeholder="Old Password"><br>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" required="" name="new_password" class="form-control"
                                            placeholder="New Password"><br>
                                    </div>
                                    <div class="form-group" align="center">
                                        <input type="submit" value="Confirm" class="btn btn-success">
                                        <a value="Add User" class="btn btn-danger" href="#">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>

</html>