<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <%- include('topbar', {dp: dp}) %>
        <div class="container-fluid text-center">
            <div class="row content">
                <%- include('side_menu', {type: type}) %>
                <div class="col-sm-10">
                    <% if(type=="admin"){ %>
                    <%- include('admin_home',{type: type}) %>
                    <% }else{ %>
                    <%- include('user_home',{type: type}) %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>

</html>