<div class="col-sm-2 sidebar text-center text-capitalize" style="padding-right: 0px;padding-left: 0px;">
    <!-- for users and cb home is my communities page -->
    <a href="/home">Home</a>
    <% if(type=="admin"){ %>
    <a href="/add_user">Add User</a>
    <a href="/ulist">User List</a>
    <a href="/clist">Community List</a>
    <a href="/suser">Switch as user</a>
    <a href="/tpannel">Tag pannel</a>
    <% }else{ %>
    <a href="/uprofile">My Profile</a>
    <% } %>
    <a href="/changep">Change Password</a>
    <a href="/logout">Logout</a>
</div>
<% if(type=="admin"){ %>
<script>
    $(document).ready(function () {
        console.log("-> " + window.location.pathname);
        if (window.location.pathname == "/eprofile" || window.location.pathname == "/uprofile" || window.location.pathname == "/upload") {
            $("[href='/home']").addClass('active');
        }
    });
</script>
<% }else{ %>
<script>
    $(document).ready(function () {
        console.log("-> " + window.location.pathname);
        if (window.location.pathname == "/eprofile" || window.location.pathname == "/upload") {
            $("[href='/uprofile']").addClass('active');
        }
    });
</script>
<% } %>
<script>
    $(document).ready(function () {
        $(".sidebar a").each(function () {
            console.log($(this).attr('href'));
            if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
                $(this).addClass('active');
            }
        });
    });
</script>