<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Omniverse</a>
        </div>
        <% if(dp!=="none"){ %>
        <div class="collapse navbar-collapse navbar-right"><a href="/uprofile"><img class="img-circle img-responsive"
                    style="max-height: 50px" src=<%=dp %>></a>
        </div>

        <% } %>
    </div>
</nav>